

.banner-container{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.45), rgba(255, 255, 255, 0.1)), url(https://i.ibb.co/pZQLsvT/dan-rooney-qm6yxe7-Sj-Wg-unsplash.jpg);
  background-position: center;
  background-size: cover;
  height: 500px;
  /* display: flex; */
  /* align-items: center; 
  justify-content: center;  */
  object-fit: cover;
  margin-top: 20px;
}















































/* ---------------------------------------------------------------------------------------- */
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
