


.banner-title{
  text-shadow: 5px #131318;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #131318;
}
.banner-container{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.45), rgba(255, 255, 255, 0.1)),
   url(https://i.ibb.co/pZQLsvT/dan-rooney-qm6yxe7-Sj-Wg-unsplash.jpg);
  background-position: center;
  background-size: cover;
  height: 750px;
  /* display: flex; */
  /* align-items: center; 
  justify-content: center;  */
  object-fit: cover;
  margin-top: 20px;
}

table , th {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-collapse: collapse;
  padding: 5px 10px;
}
th{
  background: ;
  width: 100px;
  text-align: left;
}
table{
  margin-top: px;
  width: 100%;
}
tr{
  margin: 10px;
}
td{
  border-radius: 2px;
  gap: 10px;
  /* background: #ecf0f1; */
  height: 35px;
  padding: 10px;
  padding-right: 5px;
}
 tbody td{
  background-color: #bdc3c7;
 }
/* .table-one{
 background-color: #bdc3c7;
} */

.table-bottom{
    text-align: right;
}

.table-bottom  tr  td{
  text-align: left;
  border: 1px solid black;
}

.vugichugi{
  margin-top: 5px;
}


.svg{
--flex-direction: initial;
--flex-wrap: initial;
position: relative;
display: block;
height: 100px;

}










































/* ---------------------------------------------------------------------------------------- */
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
